################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeleniumUtilities/.vs/SeleniumUtilities/v14/.suo
/SeleniumUtilities/obj/Debug
/SeleniumUtilities/packages
